<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /report/
  
  # Если запрашивается файл или директория, отдаем как есть
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Все остальные запросы перенаправляем на index.html
  RewriteRule . /report/index.html [L]
</IfModule>
